/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.only-transition {
  transition: 1s;
}

.out {
  left: -420px;
}

.in {
  left: 0px;
}

.right-percent-negative {
  right: -26%;
}

.right-percent-positive {
  right: 2%;
}

@media (max-width: 280px) {
  .right-percent-negative {
    right: -69%;
  }
}

@media (min-width: 281px) and (max-width: 320px) {
  .right-percent-negative {
    right: -47%;
  }
}

@media (min-width: 321px) and (max-width: 360px) {
  .right-percent-negative {
    right: -31%;
  }

  .right-percent-positive {
    right: 4%;
  }
}

@media (min-width: 361px) and (max-width: 375px) {
  .right-percent-positive {
    right: 5%;
  }
}

@media (min-width: 376px) and (max-width: 414px) {
  .right-percent-negative {
    right: -16%;
  }

  .right-percent-positive {
    right: 4%;
  }
}

@media (min-width: 415px) and (max-width: 540px) {
  .right-percent-negative {
    right: -15%;
  }

  .out {
    left: -557px;
  }
}

@media (min-width: 541px) and (max-width: 760px) {
  .out {
    left: -115%;
  }
}
